services:
  backend:
    image: pipeline-pirates-backend:latest
    container_name: backend-service
    restart: always
    ports:
      - "8000:8000"
    networks:
      - pipeline-network

  frontend:
    build: ./frontend
    container_name: pipeline-pirates-frontend-1
    ports:
      - "9001:80"
    restart: always
    depends_on:
      - backend
    networks:
      - pipeline-network

networks:
  pipeline-network:
    driver: bridge
