apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pipeline-pirates-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  tls:
    - hosts:
        - pipeline-pirates.local
      secretName: pipeline-pirates-tls
  rules:
    - host: pipeline-pirates.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
